.question-wall {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #a99d9d;
    width: 100%;
    opacity: 0;
    animation:slideTop .3s ease forwards;
    animation-delay:.4s;
  }
  
  .question-wall-container {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .question-wall-left {
    display: flex;
    margin-right: 30px;
  }
  
  .all-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
  }
  
  .all-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .all-option > p {
    font-size: large;
  }
  
  .question-answer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .question-answer > a {
    color: rgb(190, 55, 53);
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .question-answer > a:hover {
    color:  rgb(143, 10, 8);
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .question-answer > p {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
  }

  .question-tags{
  
    margin: 10px 5px;
    padding: 5px 10px;
    background-color: #9f75754a;
    border-radius: 3px;
  }
  
  
  .question-answer > p {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  .author {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  
  .author > small {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
  }
  
  .author-details {
    display: flex;
    align-items: center;
  }
  
  .author-details > p {
    margin-left: 5px;
    font-size: small;
    color: black;
  }
  .comments {
    margin: 10px 0;
    width: 90%;
    margin-left: auto;
  }
  
  .comment {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }
  
  .comment > p {
    margin: 10px 0;
  }
  
  .comment > p > span {
    padding: 3px;
    background-color: #da262628;
    color: #bc1529d8;
    border-radius: 2px;
  }
  
  .comments > p {
    
    margin-top: 20px;
    font-size: small;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
  }
  
  .comments > p:hover {
    color: #f00109a2;
  }
  